name: Build Program

on:
  # push:
  #   paths:
  #     - '**/*.py'
    # branches: [main]
  workflow_dispatch:

jobs:
  build-program:
    runs-on: windows-latest # make the executable for windows
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Setup uv (Since you have uv.lock)
      - name: Install uv
        uses: astral-sh/setup-uv@v5

      # 2. Setup Python using the version in your pyproject.toml
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      # 3. Install dependencies from your lockfile
      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: build program
        run: uv run --with pyinstaller pyinstaller --onedir --paths src --add-data "lib/metadata_utils;metadata_utils" --name "Neuro_K_Sync" src/local_sync/__main__.py       

      # 4. Zip the output (PyInstaller --onedir creates a folder)
      - name: Archive Build
        shell: pwsh
        run: |
          Compress-Archive -Path dist/Neuro_K_Sync -DestinationPath Neuro_K_Sync_v${{ github.ref_name }}.zip

      # 5. Create the Release and upload the zip
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: Neuro_K_Sync_*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}